html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-input {
  color: rgb(255, 255, 255);
  background-color: #222;
  border: 1px solid #333;
  margin: 16px 0 8px 0;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-between;

  .dropdowns {
    display: flex;
    width: 100%;

    .dropdown {
      margin-right: 8px;
    }

    #price-range {
      background-color: #222;
    }
  }

  .filter-buttons {
    display: flex;

    #dropdown-basic {
      margin: 4px;
    }

    #apply-filters {
      justify-self: flex-end;
      width: 115px;
      height: 38px;
      margin-right: 8px;
    }

    #remove-filters {
      justify-self: flex-end;
      width: 132px;
      height: 38px;
    }
  }
}
