html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-input {
  color: rgb(255, 255, 255);
  background-color: #222;
  border: 1px solid #333;
  margin: 16px 0 8px 0;
  text-align: center;
}
