html,
body {
  background-color: #222;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gun {
  border: 5px solid rgba(55, 0, 255, 0.322);
  border-radius: 0.4rem;
  margin: 12px;
  transition: all 0.2s linear;
  &:hover {
    background-color: rgba(21, 0, 95, 0.247);
  }
}

.guns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1124px) {
  .guns-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .guns-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .guns-grid {
    display: flex;
    flex-direction: column;
  }
  .gun {
    height: 80px;
    overflow: hidden;
    &:hover {
      height: max-content;
    }
  }
}
